{
	"timeLimit": 100000,
	"tests": [],
	"isInteractive": false,
	"name": "",
	"truncateLongTest": false,
	"useGeneration": false,
	"useLocalChecker": false,
	"url": null,
	"group": "",
	"numTest": 0,
	"genParameters": "",
	"knowGenAns": false,
	"checker": "token_checker",
  "stopAtWrongAnswer": false
}